.memo-container {
    z-index: 999;
    box-sizing: border-box;
    position: absolute;
    /* width: 150px; */
    min-width: 150px;
    /* height: 100px; */
    min-height: 150px;
    text-align: center;

    resize: horizontal;
    overflow: auto;

    background-color: lightyellow;
    border: 1pt solid gray;
}

.memo-container .titlebar {
    position: relative;
    float: left;

    width: calc(100% - 40px);
    height: 20px;
    margin: 5px;
}
.memo-container .closebutton {
    width: 20px;
    height: 20px;
    margin: 5px;

    float: right;
}


.memo-container .textarea {
    box-sizing: border-box;
    position: relative;
    resize: none;
    overflow: hidden;
    width: calc(100% - 14px);
    height: 100px;
    min-height: 100px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 2em;

    padding: 5px;

    border: none;
    background-color: lightyellow;


    /* background-image: repeating-linear-gradient(to bottom,
      rgb(26,198,204),
      rgb(26,198,204) 7%,
      rgb(100,100,100) 2rem); */

      /* background-image: repeating-linear-gradient(to bottom,
      transparent 0 2em,
      black 2em 1px); */

      background-image: repeating-linear-gradient(to bottom,
      transparent 0 calc(2em - 1px),
      rgba(17, 20, 20, 0.2) calc(2em - 1px) 2em);
}

.memo-container .textarea:focus {
    box-sizing: border-box;
    border: none;
    background-color: lightyellow;
    outline: none;
}

