:root{
    --button-size: 20px;
    --margins: 5px;
}

.sitesmemo.container {
    box-sizing: border-box;
    position: absolute;
    padding: 0;

    min-width: 150px;
    width: 150px;
    min-height: 150px;
    height: 150px;

    text-align: center;
    resize: both;
    overflow: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    background-color: lightyellow;
    border: 1px solid gray;
}

.sitesmemo.container * {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sitesmemo.container .titlebar {
    float: left;
    margin: var(--margins);
    cursor: move;

    padding: 0;
    width: calc(100% - var(--margins) * 4 - var(--button-size));
    height: var(--button-size);
}

.sitesmemo.container .closebutton {
    float: right;
    margin: var(--margins);
    cursor: pointer;

    width: var(--button-size);
    height: var(--button-size);
}
.sitesmemo.container .textarea {

    margin: var(--margins);
    padding: 0;

    min-width: 0;
    min-height: 0;
    width: calc(100% - var(--margins) * 2);
    height: calc(100% - var(--button-size) - var(--margins) * 3 - 20px);

    resize: none;
    overflow: auto;
    text-align: left;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2em;

    border: none;
    background-color: inherit;
}
.sitesmemo.container .textarea:focus {
    box-sizing: border-box;
    
    border: none;
    outline: none;
}
.sitesmemo.container .textarea::-webkit-scrollbar {
    width: 5px;
}
.sitesmemo.container .textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.sitesmemo.container .textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}
.sitesmemo.container .textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}