.memo-container {
    z-index: 1000;
    box-sizing: border-box;
    position: absolute;

    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;

    text-align: center;
    resize: horizontal;
    overflow: auto;

    box-shadow: 2px 2px 4px;
    background-color: lightyellow;
    border: 1pt solid gray;
}

.memo-container > .titlebar {
    position: relative;
    float: left;
    margin: 5px;
    cursor: move;

    width: calc(100% - 40px);
    height: 20px;
}

.memo-container > .closebutton {
    float: right;
    margin: 5px;
    cursor: pointer;

    width: 20px;
    height: 20px;
}

.memo-container > .textarea {
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
    width: calc(100% - 14px);
    min-height: 100px;
    height: 100px;

    resize: none;
    overflow: hidden;
    text-align: left;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2em;

    border: none;
    background-color: inherit;
    background-image: repeating-linear-gradient(to bottom,
    transparent 0 calc(2em - 1px),
    rgba(17, 20, 20, 0.2) calc(2em - 1px) 2em);
}

.memo-container > .textarea:focus {
    box-sizing: border-box;
    
    border: none;
    outline: none;
}